*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}
.nav{
    display: inline-flex;
    width: 100%;
}
.logo{
    width: 20%;
    text-align: center;
    padding: 15px;
}
.logo img{
    width: 100px;

}
.menu{
    padding: 15px;
    padding-left: 85px;
}
.menu ul{
    display: inline-flex;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    font-size: 16px;
    text-decoration: none;
    margin-right: 45px;
    color: black;
    font-weight: lighter;
}
.menu ul li a:hover{
    color: orange;
}


/* Body section  */


.box{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 50px;
    gap: 20px;
}
.bone{
    text-align: center;
    line-height: normal;
    padding: 30px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 3px 3px 14px rgb(228, 218, 218);
    
}

.bone img{
    width: 180px;
}
.bone p{
    font-size: 18px;
    line-height: 1.3;
    margin-top: 20px;
}
.bonered{
    color: red;
}
.no-content{
    border: none;
    box-shadow: none;
    background-color: none;
}


/* This is the banner section  */

.banner{
    width: 100%;
    height: 500px;
    background-image: url(./img/banner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}






/* This is the footer section  */

.footer{
    display: inline-flex;
    padding: 30px;
    width: 100%;
    background-color: whitesmoke;
}

.one{
    width: 20%;
}
.one li{
    list-style: none;

}
.one li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.one li a:hover{
    color: orange;
}

.two{
    width: 20%;
}
.two li{
    list-style: none;

}
.two li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.two li a:hover{
    color: orange;
}
.three{
    width: 20%;
}
.three li{
    list-style: none;

}
.three li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.three li a:hover{
    color: orange;
}
.four{
    width: 20%;
}
.four li{
    list-style: none;

}
.four li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    font-size: 14px;
}
.four li a:hover{
    color: orange;
}
.five{
    width: 20%;
}
.five li{
    list-style: none;
    text-align: center;
}
.five li a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    line-height: 1.8;
    text-align: center;
    font-size: 14px;
    font-size: 14px;
}

.fh{
    font-size: 17px;
    font-weight: bold;
}
.devider{
    width: 100%;
    padding-left: 77px;
    padding-right: 50px;
}
.devider p{
    padding-bottom: 8px;
    font-size: 15px;
    width: 50%;
}
.devider hr{
    
}
.fcopy{
    display: flex;
    width: 50%;
}
.fnav{
    width: 50%;
}
.fnav ul{
    display: inline-flex;
    width: 440px;
}
.fnav ul li{
    list-style: none;
}
.fnav ul li a{
    font-size: 15px;
    text-decoration: none;
    color: gray;
    margin-left: 30px;
}


.fcleft{
    margin-top: 10px;
    display: flex;
    padding-bottom: 60px;
}
.fcleftcontent{
    width: 40%;
}
.fcleftcontent p{
    color: gray;
    font-size: 15px;
}
.fcrightcontent{
    width: 60%;
}
.fcrightcontent ul{
    display: flex;
    float: right;
}
.fcrightcontent ul li{
    list-style: none;
}
.fcrightcontent ul li a{
    color: gray;
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
}